/* misc. details */

body {
  color: #585959;
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  line-height: 2rem;
}

a {
  color: #57c2e5;
}

h3 {
  font-size: 1.8rem;
  text-transform: uppercase;
}

h4 {
  color: #2292a5;
  font-size: 1.3rem;
}

/* header/banner stuff */

header {
  background-color: #2292a5;
}

.headersec {
  display: flex;
  position: relative;
  flex-flow: column;
  margin: 0;
  padding: 2rem 9rem;
}

h1 {
  color: white;
  font-size: 4.5rem;
  text-transform: uppercase;
}

.hdrcaption {
  color: white;
  font-size: 2.5rem;
  font-style: italic;
}

/* navigation styles --make nav bar expand on whole page*/

.nav {
  text-decoration: none;
  background-color: #e0dede;

}

ul {
  list-style: none;
  list-style-type: none;
  display: flex;
  flex-flow: row;
  margin: 0;
  padding: 2rem 9rem;
}

li {
  font-size: 1.3rem;
  font-weight: bold;
  color: #3a3a3a;
  padding: 1rem;
}

.navlinks {
  text-decoration: none;
  color: #3a3a3a;
}


/* main content */

div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: nowrap;
  align-items: flex-start;
  align-content: space-around;
  margin: 4rem 0rem;
}

article {
  padding-left: 10rem;
  padding-right: 8rem;
}

aside {
  padding-right: 25rem;
}


/* quote style */

.quotesection {
  padding: 2rem 0rem;
  color: #57c2e5;
  font-size: 1.3rem;
  line-height: 0.5rem;
}

.jeremy {
  font-style: italic;
}

/* footer style */

footer {
  background-color: #3a3a3a;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding-left: 10rem;
  padding-bottom: 4rem;
  color: #ededed;
}

.footersec {
  padding-top: 6rem;
}

.footerul {
  padding-left: 14rem;
}

.footerli {
  color: #ededed;
  font-size: 1.2rem;
}

.catlogo {
  padding-left: 24rem;
}

.footertext {
  text-align: center;
  width: 40%;
  padding-left: 16rem;
}
