/* misc. details */

body {
  color: #585959;
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  line-height: 2rem;
}

a {
  color: #57c2e5;
}

h3 {
  font-size: 1.8rem;
  text-transform: uppercase;
}

/* header/banner stuff */

header {
  background-color: #2292a5;
  display: block;
}

.headersec {
  width: 600px;
  position: relative;
  margin: 0px;
  padding: 40px 150px;
}

h1 {
  color: white;
  font-size: 4.5rem;
  text-transform: uppercase;
}

.hdrcaption {
  color: white;
  font-size: 2.5rem;
  font-style: italic;
}

/* navigation styles --make nav bar expand on whole page*/

nav {
  margin: 0px;
  padding: 0px;
}

ul {
  list-style: none;
  list-style-type: none;
  float: left;
  background-color: #e0dede;
  margin: 0px;
  padding-left: 150px;
  display: flex;
}

li {
  text-decoration: none;
  display: inline-block;
  padding: 30px 10px;
  font-size: 1.3rem;
  font-weight: bold;
}

/* main content */

article {
  display: flex;
  float: left;
  position: relative;
  flex-direction: column;
  width: 40%;
  margin: 0px;
  padding: 0px 150px;
  font-size: 1.2rem;
}

/* quote */

.quote {
  color: #57c2e5;
  font-size: 2rem;
  margin: 0;
  padding: 0;
}

.jeremy {
  color: #57c2e5;
  font-size: 2rem;
  font-style: italic;
  margin: 0;
  padding: 0;
}

/* sidebar */

aside {
  display: flex;
  float: right;
  position: absolute;
  right: 350px;
  flex-direction: column;
  width: 20%;
}

.news {
  padding-bottom: 30px;
}



/* footer styles */

footer {
  display: flex;
  flex-direction: row;
  position: relative;
  bottom: 0;
  width: 100%;
  height: 100px;
  background:#6cf;
}
